<a class="btn btn-primary mt-3" href="/toy/car">Back</a>
    <div class="container col-md-8 mt-3 mb-3">
        <form action="/toy/car/add" method="post">
            <h1 class="text text-danger">Add Product</h1>
            <div class="form-group">
                <label class="h4 text text-success">Brand name</label>
                <select name="brandName" class="form-control">
                    <option value="LEGO">LEGO</option>
                    <option value="LEGO">CAR</option>
                </select>
            </div>
            <div class="form-group">
                <label class="h4 text text-success">Model name</label>
                <input class="form-control" type="text" name="modelName" required>
            </div>
            <div class="form-group">
                <label class="h4 text text-success">Description</label>
                <input class="form-control" type="text" name="description" required>
            </div>
            <div class="form-group">
                <label class="h4 text text-success">Price</label>
                <input class="form-control" type="text" name="price" required>
            </div>
            <div class="form-group">
                <label class="h4 text text-success">Quantity</label>
                <input class="form-control" type="text" name="quantity" required>
            </div>
            <div class="form-group">
                <label class="h4 text text-success">Image url</label>
                <input class="form-control" type="text" name="image" required>
            </div>
            <div class="form-group">
                <label class="h4 text text-success">Color</label>
                RED<input type="radio" name="color" id="" value="RED">
                BLUE<input type="radio" name="color" id="" value="BLUE">
            </div>
            <div class="form-group">
                <input class="btn btn-primary" type="submit" value="Add">
            </div>
        </form> 
    </div>