<!DOCTYPE html>
<html lang="en">
<head>
  <link rel='stylesheet' href='/stylesheets/admin.css' />
</head>
<body>
  <div class="sidebar">
    <a class="sidebar-link" href="/toy/lego/">Lego</a>
    <a class="sidebar-link" href="/toy/car/">Car</a>
    <!-- Add more links for other features if needed -->
  </div>
  <div class="content">
    <h1>Admin Dashboard</h1>
  </div>
</body>


</html>

